# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env/Secrets
.env
.env.*
!.env.example

# Build/Dist (tuỳ dự án)
dist/
build/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log
